.win-rating {
  display: inline-flex;
  gap: 4px;
  font-size: 18px;
  color: var(--text-primary);
  cursor: pointer;
  user-select: none;
}

  .win-rating span {
    transition: color var(--fast-duration), transform 0.1s;
  }

    .win-rating span.active {
      color: var(--accent-base);
    }

    .win-rating span:active {
      transform: scale(0.7);
    }
